@import './variables';

.t-title {
  color: $color-title;
  font-size: $size-title;
  font-weight: $weight-title;
}

.t-main {
  color: $color-main;
  font-size: $size-main;
  font-weight: $weight-main;
}

.t-comment {
  color: $color-comment;
  font-size: $size-comment;
  font-weight: $weight-comment;

  @media (width <=1000px) {
    font-size: $size-title - 4px;
  }
}
