// -------------- Шрифты десктоп --------------
$size-title: 15px;
$size-main: 15px;
$size-comment: 13px;

$weight-title: 600;
$weight-main: 500;
$weight-comment: 500;

$color-title: #000000;
$color-main: #000000;
$color-comment: #58636F;



// -------------- Палитра цветов --------------
$palette-bg: #F2F2F2
