// -------------- Шрифты десктоп --------------
$size-title: 16px;
$size-main: 15px;
$size-comment: 13px;
$weight-title: 600;
$weight-main: 500;
$weight-comment: 500;
$color-title: #000;
$color-main: #000;
$color-comment: #58636f;

// -------------- Палитра цветов --------------
$palette-bg: #f2f2f2;
$palette-blue: #2688EB;
